
body {
  margin: 0;
  padding: 0;
  background: #f9f9f9;
}
input {
  padding: 5px;
  margin-right: 10px;
}
button {
  padding: 5px 10px;
}
ul {
  list-style: none;
  padding-left: 0;
}
li {
  margin: 8px 0;
}
